In [1]:
import csv
import numpy as np
import pandas as pd
import glob

In [2]:
path =r'/media/romit/249E6A809E6A49FE/my_work/core_project/fol' 
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)
len(list_)

18

In [3]:
frame.drop(['tourney_name','tourney_id'],axis=1,inplace=True)

In [19]:
players_1=frame['winner_name'].tolist()
players_2=frame['loser_name'].tolist()
players=set(list(players_1 and players_2))

In [20]:
players=list(players)
len(players)

1867

In [21]:
rr=frame[(frame['winner_name']=='Roger Federer') | (frame['loser_name']=='Roger Federer')]
len(rr)

1269

In [7]:
x=rr['surface'].tolist()
x=set(x)
x

{nan, 'Carpet', 'Clay', 'Grass', 'Hard'}

## Player abilities at surface

In [9]:
def surface_prob(df,list_names):
    list_names=sorted(list_names)
    final=[]
    for z in range(len(list_names)):
        basic=[]
        basic.append(list_names[z])
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['surface']=='Grass') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['surface']=='Grass'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['surface']=='Clay') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['surface']=='Clay'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['surface']=='Hard') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['surface']=='Hard'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['surface']=='Carpet') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['surface']=='Carpet'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        final.append(basic)
        
    return final

In [10]:
t=surface_prob(frame,players)

In [11]:
columns=['Player_name','W_Grass','W_Clay','W_Hard','W_Carpet']
df_surface=pd.DataFrame(t,columns=columns)

In [13]:
df_surface=df_surface[(df_surface.W_Grass!=float(0)) & (df_surface.W_Clay !=0) & (df_surface.W_Hard !=0) & (df_surface.W_Carpet !=0)]
df_surface.tail()

             Player_name   W_Grass    W_Clay    W_Hard  W_Carpet
1825      Xavier Malisse  0.650000  0.431818  0.501618  0.545455
1839         Yen Hsun Lu  0.437500  0.208333  0.420139  0.500000
1840  Yevgeny Kafelnikov  0.777778  0.400000  0.607143  0.650000
1848   Younes El Aynaoui  0.416667  0.670000  0.540816  0.333333
1854       Yuichi Sugita  0.526316  0.300000  0.415385  1.000000

In [27]:
df_surface.to_csv('surface_abilities.csv', encoding='utf-8', index=False)

### Player abilities at round_of

In [14]:
x=rr['round'].tolist()
x=set(x)
x

{'F', 'QF', 'R128', 'R16', 'R32', 'R64', 'RR', 'SF'}

In [15]:
def round_prob(df,list_names):
    list_names=sorted(list_names)
    final=[]
    for z in range(len(list_names)):
        basic=[]
        basic.append(list_names[z])
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['round']=='F') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['round']=='F'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['round']=='QF') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['round']=='QF'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
            
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['round']=='R16') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['round']=='R16'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['round']=='R128') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['round']=='R128'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
            
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['round']=='R32') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['round']=='R32'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['round']=='R64') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['round']=='R64'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
            
        rr=df[(df['winner_name']==list_names[z]) | (df['loser_name']==list_names[z])]
        z1=len(rr[(rr['round']=='SF') & (rr['winner_name']==list_names[z]) ])
        z11=len(rr[rr['round']=='SF'])
        if z11==0:
            basic.append(0)
        else:
            prob=float(z1)/(z11)
            basic.append(prob)
        
        final.append(basic)
        
        
    return final

In [16]:
t=round_prob(frame,players)

In [23]:
columns=['Player_name','F', 'QF', 'R128', 'R16', 'R32', 'R64', 'SF']
df_round=pd.DataFrame(t,columns=columns)

In [24]:
df_round=df_round[(df_round.F!=0) | (df_round.SF!=0) | (df_round.QF!=0) | (df_round.R16!=0) | (df_round.R32!=0) | (df_round.R64!=0)]
df_round.head()

,Player_name,F,QF,R128,R16,R32,R64,SF
9,Adam Chadaj,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
14,Adam Pavlasek,0.0,0.000000,1.000000,0.500000,0.250000,0.000000,0.000000
21,Adrian Cruciat,0.0,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
23,Adrian Garcia,0.0,0.000000,0.166667,0.000000,0.333333,0.000000,0.000000
24,Adrian Mannarino,0.0,0.346154,0.419355,0.560976,0.514019,0.396552,0.444444

In [28]:
df_round.to_csv('round_abilities.csv', encoding='utf-8', index=False)