In [82]:
import csv
import pandas as pd
import numpy as np
import glob

In [83]:
frame_1=pd.read_csv('serve_split.csv')
frame_1.head()

,match_id,player,row,first_pts,first_pts_won,first_aces,first_unret,first_forced,first_won_lte_3_shots,second_pts,second_pts_won,second_aces,second_unret,second_forced,second_won_lte_3_shots
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,d,17,13,2,0,4,9,19,11,0,0,1,3
1,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,a,15,12,0,0,4,5,18,10,0,0,0,1
2,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,4,20,19,2,0,6,11,9,6,0,0,0,1
3,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,5,6,4,0,0,0,1,22,11,0,0,0,1
4,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1,6,6,2,0,0,2,2,6,4,0,0,1,2

In [84]:
frame_11=frame_1['match_id'].str.split('-', expand=True)#rename(columns = lambda x: "string"+str(x+1))

player_1=frame_11[4].tolist()
player_2=frame_11[5].tolist()

pl1=pd.Series(player_1)
pl2=pd.Series(player_2)
frame_1['Player_1']=pl1.values
frame_1['Player_2']=pl2.values

frame_1=frame_1.drop(['match_id'],axis=1)

In [85]:
path =r'/media/romit/249E6A809E6A49FE/my_work/core_project/fol' # use your path
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame= pd.concat(list_)
len(list_)

16

In [86]:
x=frame['winner_name'].unique().tolist()
v=frame['loser_name'].unique().tolist()
res_f=list(set(x+v))
len(res_f)

1897

In [87]:
x=frame_1['Player_1'].unique().tolist()
y=frame_1['Player_2'].unique().tolist()

res = list(set(x+y))
len(y),len(x),len(res)

final_list=list(set(res_f and res))
len(final_list)

560

In [62]:
def win_perc(df,final_list):
    
    final=[]
    final_list=sorted(final_list)
    for z in range(len(sorted(final_list))):
        basic=[]
        basic.append(final_list[z])
        df_z=df[df['Player_1']==final_list[z]]
        df_d=df_z[(df_z['row']=='d') & (df_z['player']==1)]
        t_d_1=df_d['first_pts'].sum()+df_d['second_pts'].sum()
    
        w_1d_1=df_d['first_pts_won'].sum()
        w_2dP=df_d['second_pts_won'].sum()
    
        df_a=df_z[(df_z['row']=='a') & (df['player']==1)]
        t_a=df_a['first_pts'].sum()+df_a['second_pts'].sum()
    
        w_1a=df_a['first_pts_won'].sum()
        w_2a=df_a['second_pts_won'].sum()
    
        i_1d=df_d['first_pts'].sum()
        i_1a=df_a['first_pts'].sum()
    
        i_2d=df_d['second_pts'].sum()
        i_2a=df_a['second_pts'].sum()
        
        t=t_d+t_a    # total no. of serves as player 1
        basic.append(t)
        
        i_1=i_1d+i_1a   # total no of first serves in as player 1
        basic.append(i_1)
        
        i_2=i_2d+i_2a #total no of second serves in as player 1
        basic.append(i_2)
        
        w_1=w_1d+w_1a # total no of wins in first serve as player 1
        basic.append(w_1)
        
        w_2=w_2d+w_2a  # total no of wins in second serve as player 1
        basic.append(w_2)
        
        final.append(basic)
        
    
    return final

In [76]:
t=win_perc(frame_1,final_list)

/home/romit/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [77]:
columns=['Player_name','Total_serve','1st_in','2nd_in','1st_won','2nd_won']
serve_frame=pd.DataFrame(t,columns=columns)

In [78]:
serve_frame=serve_frame.dropna()

# f(i)=perc of points won by player on serve

In [79]:
a=(serve_frame['1st_in']/serve_frame['Total_serve'])
b=(serve_frame['1st_won']/serve_frame['1st_in'])
c=(serve_frame['2nd_won']/serve_frame['2nd_in'])
serve_frame['f(i)']=(a)*(b)+(1-a)*c  
#perc. of 1st serve in * perc of 1st serve won + perc. of 2nd serve in * perc of 2nd serve in

In [80]:
serve_frame.head()

        Player_name  Total_serve  1st_in  2nd_in  1st_won  2nd_won      f(i)
0  Aaron_Krickstein         76.0    43.0    33.0     20.0     17.0  0.486842
1     Adam_Pavlasek         53.0    38.0    15.0     21.0      5.0  0.490566
2  Adrian_Mannarino        313.0   200.0   113.0    133.0     59.0  0.613419
6     Adrien_Bossel         42.0    23.0    19.0     14.0      4.0  0.428571
9   Akira_Santillan        182.0    93.0    89.0     61.0     51.0  0.615385